/* .event-input { */
/*     width: 100%; */
/*     padding: 0.5em 0.8em; */
/*     outline: none; */
/*     border: 0; */
/*     border-radius: 8px; */
/*     font-size: 1rem; */
/*     color: var(--tg-theme-text-color); */
/* } */

/* .event-fields { */
/*     color: var(--tg-theme-text-color); */
/* } */

/* .event-fields::placeholder { */
/*     color: var(--tg-theme-hint-color); */
/* } */

td,th {
  border: 0;
}
